@font-face {
  font-family: "iconfont"; /* Project id 4027926 */
  src: url('iconfont.woff2?t=1696814659334') format('woff2'),
       url('iconfont.woff?t=1696814659334') format('woff'),
       url('iconfont.ttf?t=1696814659334') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anliguanli:before {
  content: "\e760";
}

.icon-chakanwenjian:before {
  content: "\e761";
}

.icon-chenggong:before {
  content: "\e762";
}

.icon-guanbi:before {
  content: "\e763";
}

.icon-chengguoguanli:before {
  content: "\e803";
}

.icon-qita:before {
  content: "\ee34";
}

.icon-caozuo-bianji:before {
  content: "\e619";
}

.icon-jiqiren_o:before {
  content: "\eb62";
}

.icon-huifubeifen:before {
  content: "\e67e";
}

.icon-xiaoxi:before {
  content: "\e618";
}

.icon-fh:before {
  content: "\e617";
}

.icon-wenjian1:before {
  content: "\e631";
}

.icon-chakan:before {
  content: "\e643";
}

.icon-bianji1:before {
  content: "\e621";
}

.icon-jian:before {
  content: "\e66e";
}

.icon-jia:before {
  content: "\e66f";
}

.icon-wuzishenling:before {
  content: "\e614";
}

.icon-cangkuguanli:before {
  content: "\e616";
}

.icon-gongchengguanli:before {
  content: "\e603";
}

.icon-renwuguanli:before {
  content: "\e607";
}

.icon-weixiuguanli:before {
  content: "\e608";
}

.icon-shujuzhongxin:before {
  content: "\e609";
}

.icon-nengyuanguanli:before {
  content: "\e60f";
}

.icon-zonghebaobiao:before {
  content: "\e611";
}

.icon-xitongguanli:before {
  content: "\e612";
}

.icon-xitongshezhi:before {
  content: "\e613";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-24gf-lock2:before {
  content: "\e9d8";
}

.icon-renyuan:before {
  content: "\e61d";
}

.icon-huodong:before {
  content: "\e60e";
}

.icon-gongju1:before {
  content: "\e615";
}

.icon-ceshi:before {
  content: "\e61a";
}

.icon-test-case-group:before {
  content: "\e606";
}

.icon-project_management:before {
  content: "\e60d";
}

.icon-zixiangmukanban:before {
  content: "\e61b";
}

.icon-xitong:before {
  content: "\e62e";
}

.icon-zhuizongqibeifen:before {
  content: "\e61c";
}

.icon-ceshijilu:before {
  content: "\e64e";
}

.icon-zhinengsuanfa:before {
  content: "\e6c8";
}

.icon-jurassic_jiankong:before {
  content: "\e69c";
}

.icon-zuzhijiagou:before {
  content: "\e60b";
}

.icon-fangzhen:before {
  content: "\e605";
}

.icon-yewukanban:before {
  content: "\e604";
}

.icon-custom-other:before {
  content: "\e687";
}

.icon-information:before {
  content: "\e620";
}

.icon-wenjianjia11:before {
  content: "\1001c";
}

.icon-moxing1:before {
  content: "\eca6";
}

.icon-dingyue:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-renwujincheng:before {
  content: "\ec35";
}

.icon-bianji:before {
  content: "\e649";
}

.icon-shangchuan:before {
  content: "\e632";
}

.icon-caidan:before {
  content: "\e630";
}

.icon-database-full:before {
  content: "\e940";
}

.icon-wenjiangui_file-cabinet:before {
  content: "\e622";
}

.icon-xinzeng:before {
  content: "\e683";
}

.icon-jiantou_youshang_o:before {
  content: "\eb94";
}

.icon-zuoshang:before {
  content: "\e601";
}

.icon-wenjianjia:before {
  content: "\e650";
}

.icon-fanhui:before {
  content: "\e610";
}

.icon-xiangshangjiantoucuxiao:before {
  content: "\e8d8";
}

.icon-sucai:before {
  content: "\e602";
}

.icon-wenjian:before {
  content: "\e689";
}

.icon-wenjianjia1:before {
  content: "\e80c";
}

.icon-jianshu:before {
  content: "\e63c";
}

.icon-jiashu:before {
  content: "\e63d";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-fangdajing:before {
  content: "\e60c";
}

.icon-moxing:before {
  content: "\e60a";
}

