
// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors:(
//     'primary':(
//       'base': #0069f3
//     )
//   ),
// );
:root{
  --el-color-primary: #0069f3;
  --header-bg-color: #fff;
  --header-text-color: #000;
  --menu-hover-bg-color: #0069f3;
  --sub-active-text-color: #fff;
  --my-bg-color: #fff;
  --my-bg-color-2: #f2f3f5;
  --my-bg-color-3: #f2f3f4;
  --my-bg-color-4: #f2f2f2;
  --my-bg-color-5: #f1f1f1;
  --my-bg-color-6: #f4f4f4;
  --my-bg-color-7: #f2f3f4;
  --my-text-bg-color: #4e5969;
  --my-text-bg-color-2: rgb(78, 89, 105);
  --my-text-bg-color-3: #1d2129;
  --my-text-bg-color-4: #000;
  --my-text-bg-color-5: #04abff;
  --my-border-color: #333;
  --my-border-color-2: #bbc8d1;
}