/* 字体文件 */

@font-face {
  font-family: PingFangSC-Medium;
  src: url('../fontFamily/PingFang Medium.ttf');
}
@font-face {
  font-family: PingFangSC-Bold;
  src: url('../fontFamily/PingFang Bold.ttf');
}
@font-face {
  font-family: PingFangSC-Regular;
  src: url('../fontFamily/PingFang Regular.ttf');
}
@font-face {
  font-family: PingFangSC-Light;
  src: url('../fontFamily/PingFang Light.ttf');
}
@font-face {
  font-family: PingFangSC-Heavy;
  src: url('../fontFamily/PingFang Heavy.ttf');
}
@font-face {
  font-family: PingFangSC-ExtraLight;
  src: url('../fontFamily/PingFang ExtraLight.ttf');
}